<div class="mt-4">
    <h3>Update food</h3>

    <form class="mt-4" method="POST" action="/product/{{food.id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Food's name</label>
            <input type="text" class="form-control" value="{{food.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description">{{food.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="videoId">ULR image</label>
            <input type="text" class="form-control" value="{{food.image}}" id="image" name="image">
        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>