<div class="mt-4">
    <form method="get" action="/news">
  <div class="mb-3">
    <label for="search-input" class="form-label">Keywords</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keywords">
    <input type="number" name="p" class="form-control" id="search-input" placeholder="Enter numbers">
  </div>

  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>